#root {
  background-image: url(./images/background-img.jpg);
  background-size: cover;
  height:100vh;
  background-attachment: fixed;
  overflow:auto;
}

footer {
  background-color: khaki;
  align-items:flex-end
}